<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
      <% include partials/_header %>
  </header>
  <ul>
  <% for (let url in urls) { %>
    <li>
    <%= url %>: <%= urls[url] %><span>
    <form id=<%= url %> method="POST" action=<%= `/urls/${url}/delete` %>></form>
    <button type="submit" form=<%= url %> value="Submit">Delete this key</button></span>
    </li>
  <%} %>
  </ul>
  Shorten a new URL <a href="/urls/new">here</a>
</body>
</html>
