<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div class="bigMargin">
      <% if (errorMsg) { %>
        <h2 id="hint"><%= errorMsg %></h2>
      <% } %>
      <% if (!Object.keys(urls).length) { %>
        <p>You have no saved shortcuts.</p>
      <% } else { %>
        <% if (!errorMsg) { %>
          <h2 id="hint">Hint: click on the clipboard icon to copy the shortcut.</h2>
        <% } %>
        <table>
          <tr>
            <th></th><th></th><th></th><th></th><th></th><th></th>
            <th colspan="2" class="category1">#times used</th>
            <th></th>
            <th colspan="3" class="category2">date</th>
          </tr>
          <tr>
            <td></td><td></td><td></td><td></td><td></td><td></td>
            <td>since creation</td>
            <td>since last update</td>
            <td></td>
            <td>created</td>
            <td>last updated</td>
            <td>last used</td>
          </tr>
          <% for (let url in urls) { %>
            <tr>
              <td>
                <button class="icon" onclick="copyToClipboard('http://localhost:8000/u/<%= url %>')">📋</button>
                <%= url %></td><td>⤑</td><td><%= urls[url].abbreviatedURL %></td>
              <td>
                <form action=<%= `/urls/${url}` %> method="GET">
                  <label></label>
                  <input type="submit" value="Edit">
                </form>
              </td>
              <td>
                <form action=<%= `/urls/${url}/delete` %> method="POST">
                  <label></label>
                  <input type="submit" value="Delete">
                </form>
              </td>
              <td class="spacer"></td>
              <td class="category1">
                <%= urls[url].usedCount.sinceCreated %>
              </td>
              <td class="category1">
                <%= urls[url].usedCount.sinceLastUpdated %>
              </td>
              <td class="spacer"></td>
              <td class="category2">
                <%= urls[url].date.format('created') %>
              </td>
              <td class="category2">
                <%= urls[url].date.format('lastUpdated') %>
              </td>
              <td class="category2">
                <%= urls[url].date.format('lastUsed') %>
              </td>
            </tr>
          <%} %>
        </table>
      <% } %>
      <p>
        Shorten a <a href="/urls/new">new URL</a>
      </p>
    </div>
  </body>
</html>