<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div class="bigMargin">
      <% if (errorMsg) { %>
        <h2 id="hint"><%= errorMsg %></h2>
      <% } %>
      <% if (!Object.keys(urls).length) { %>
        <p>You have no saved shortcuts.</p>
      <% } else { %>
        <% if (!errorMsg) { %>
          <h2 id="hint">Hint: click on the clipboard to copy the shortcut.</h2>
        <% } %>
        <table>
          <% for (let url in urls) { %>
            <tr>
              <td>
                <button class="icon" onclick="copyToClipboard('http://localhost:8000/u/<%= url %>')">📋</button>
                <%= url %></td><td>⤑</td><td><%= urls[url].URL %></td>
              <td>
                <form action=<%= `/urls/${url}` %> method="GET">
                  <label></label>
                  <input type="submit" value="Edit">
                </form>
              </td>
              <td>
                <form action=<%= `/urls/${url}/delete` %> method="POST">
                  <label></label>
                  <input type="submit" value="Delete">
                </form>
              </td>
            </tr>
          <%} %>
        </table>
      <% } %>
      <p>
        Shorten a <a href="/urls/new">new URL</a>
      </p>
    </div>
  </body>
</html>