<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TinyApp</title>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/main.css'>
  </head>
  <body>
    <header>
      <% include partials/_header %>
    </header>
    <div class="bigMargin">
      <% if (!shortURL) { %>
        <h1>Sorry!</h1>
        <p>Either that link is invalid, or you don't have access to it.</p>
      <% } else { %>      
      <div>
        <h2>hint: click on the clipboard to copy the link</h2>
      </div>
      <button class="icon" onclick="copyToClipboard('http://localhost:8000/u/<%= shortURL %>')">📋</button>
      <%=  shortURL %> ⤑ <span class="ghost"><%= longURL %></span>
        <form action=<%= `/urls/${shortURL}` %> method="POST">
          <label for="longURL">Update URL:</label>
          <input type="hidden" value=<%= shortURL %> name="shortURL">
          <input class="longInput" id="longURL" type="text" name="longURL" placeholder="http://" required>
          <input type="submit" value="Update">
        </form>
      <% } %>
      <p>
        Back to <a href="/urls">index</a>
      </p>
    </div>
  </body>
</html>
